#postfixPage {
    display: none;
    margin: 10px 20px;
    font-size: 12pt;
    padding: 0 20px 20px 20px;
    overflow: hidden;
}

.postfixPageSubTitle {
    font-variant: small-caps;
    font-size: 15pt;
    font-style: oblique;
    font-weight: bold;
    text-shadow: 0 0 2px #666666;
}

.postfixInputInstruction {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 0;

    font-family: serif;
    font-style: italic;
    font-size: 11pt;
    -moz-box-shadow: 0 0 15px #BBBBBB;
    -webkit-box-shadow: 0 0 15px #BBBBBB;

    color: #666666;
    background: url("../imgs/paper.jpg");
}
