body {
    padding: 0;
    margin: 0;
    background-color: black;
}

h1 {
    color: #999999;
    text-shadow: 0 0 5px #999999;
    text-align: center;
}

#terminalInput, #grammarInput, #sentenceInput {
    margin: 10px auto 10px auto;
    padding: 0;
    width: 800px;
    overflow: hidden;
}

textarea {
    display: block;
    width: 750px;
    margin: 10px auto 10px auto;
    padding: 10px;
    color: white;
    background-color: #333333;
    border: solid 1px #666666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 0 5px #666666;
    -webkit-box-shadow: 0 0 8px #666666;
}

button {
    float: right;
    margin-right: 50px;
    font-weight: bold;
    background-color: #333333;
    border: solid 1px #666666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 0 5px #666666;
    -webkit-box-shadow: 0 0 5px #666666;
}
