#inputPage {
    display: none;
    margin: 10px 20px;
    font-size: 12pt;
    padding: 0 20px 20px 20px;
    overflow: hidden;
}

.inputPageSubTitle {
    font-variant: small-caps;
    font-size: 15pt;
    font-style: oblique;
    font-weight: bold;
    text-shadow: 0 0 2px #666666;
}

.inputInstruction {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 2.5%;

    font-family: serif;
    font-style: italic;
    font-size: 11pt;
    -moz-box-shadow: 0 0 15px #BBBBBB;
    -webkit-box-shadow: 0 0 15px #BBBBBB;

    color: #666666;
    background: url(../imgs/paper.jpg);
}

textarea {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 2.5%;

    border: none;
    -moz-box-shadow: 0 0 15px #BBBBBB;
    -webkit-box-shadow: 0 0 15px #BBBBBB;
    background: transparent;
}

textarea:hover {
    -moz-box-shadow: 0 0 15px #6495ED;
    -webkit-box-shadow: 0 0 15px #6495ED;
}

textarea:focus {
    -moz-box-shadow: 0 0 15px #5060ED;
    -webkit-box-shadow: 0 0 15px #5060ED;
}

