#lr_0Page {
    display: none;
    margin: 10px 20px;
    font-size: 12pt;
    padding: 0 20px 20px 20px;
    color: #666666;
    overflow: hidden;
}

#lr_0ItemSetsDisplay {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 0;

    background: url("../imgs/paper.jpg");
    -moz-box-shadow: 0 0 15px #BBBBBB;
    -webkit-box-shadow: 0 0 15px #BBBBBB;
    clear: both;
    overflow: hidden;
}

#itemSetsDisplay {
    font-variant: small-caps;
    font-size: 15pt;
    font-style: oblique;
    font-weight: bold;
    color: #666666;
}

.itemSetsColumn {
    width: 33%;
    float: left;
}

.itemSet {
    width: 80%;
    border: solid 1px #BBBBBB;
    margin: 10px;
    padding: 0;
}

.itemSetTitle {
    background-color: rgba(200, 200, 200, 0.5);
    border-bottom: solid 1px #BBBBBB;
    margin: 0;
    padding: 2px;
    text-align: center;
    font-weight: bold;
}

.itemSetBodies {
    display: block;
    margin: 2px 20%;
}


